<!DOCTYPE html>

<html>
    <head>
        <title>Import</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{ result }}<br /><br />
        <a href="{{ path('index') }}">strona główna</a>
    </body>
</html>
