<!DOCTYPE html>

<html>
    <head>
        <title>Aegis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="{{ path('import') }}">kliknij, aby zrealizować import</a><br />
        <a href="{{ path('show', {'sort_by': 'id', 'sort_order': 'asc'}) }}">kliknij, aby wyświetlić dane z bazy danych</a>
    </body>
</html>
